body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map {
  height: 100vh;
}

.leaflet-container path {
  transition: fill 0.5s;
}

.tooltipstyle{
  background: none !important;
  color: #FFF !important;
  border: 0px none !important;
  margin: 0px !important;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  font-weight: 900 !important;
}

.tooltipstyle::before {
  border-left: 0px none !important;
  border-right: 0px none !important;
}

.tooltipstyle::after {
  border-left: 0px none !important;
     border-right: 0px none !important;
}

.globalmarker {
  border: 0px none !important;
  background-color: rgba(0,0,0,0.5) !important;
  box-shadow: none !important;
  color: #FFF !important;
}

.marker-stack {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  width: 42px;
  height: 42px;
}

.marker-pointer {
  float: left;
  margin-left: -21px;
  margin-top: -42px;
  width: 42px;
  height: 42px;
  
}

.marker-icon {
  float: left;
  width: 42px;
  height: 42px;
  outline: none;
  /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
}
